<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RoomCheckingSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/menuthemes.css" rel="stylesheet" />
    <link href="~/css/alertify.min.css" rel="stylesheet" />
    <link href="~/css/default.min.css" rel="stylesheet" />


</head>
<body style="background-color: #ecf0f5;">

    <!--===================
    Header
    =======================-->
    <header class="header" style="background-color:white">
        <div class="container-fluid navbar-dark container-fluid-custom  h-100">
            <div class="row h-100" style="display: flex; align-items: stretch; -ms-flex-wrap: wrap; flex-wrap: nowrap; margin-right: -15px; margin-left: -15px; align-self: stretch; justify-content: space-between; ">


                <div class="col-md-2 my-auto hidden-md-down" style=" max-width: 6%; min-width: 140px">
                    <div class="navbar-brand hidden-md-down">
                        <a class="" href="#"><span class="logo-lg ajs-no-padding" style="color:black">Roomchecking</span></a>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 my-auto">
                    <div class="float-left"> <a href="#" class="button-left "><span class="fa fa-fw fa-bars" style="color:black; font-size:24px"></span></a> </div>
                </div>

                <div class="col-md-5 col-sm-8 my-auto text-center">
                    
                    <div  >
                        <div class="" style="padding: 4px 0px; justify-content: center; display: flex;">
                            <div class="col-sm-4 col-md-3">
                                <a href="/Dashboard/Dashboard">
                                    <div>
                                        
                                        <img src="~/images/cxm-icon-clean.png" alt="House Keeping" class="img-responsive" style="margin:0 auto; width:25px; height:25px">
                                    </div>
                                    <div class="hidden-md-down tdstyle" style="color: black;">
                                        HouseKeeping
                                    </div>

                                </a>
                            </div>
                            <div class="col-sm-4 col-md-3">
                                <a href="/Dashboard/Maintenance">
                                    <div>
                                        
                                        <img src="~/images/cxm-icon-tool-2.png" alt="House Keeping" class="img-responsive" style="margin:0 auto; width:25px; height:25px">
                                    </div>
                                    <div class="hidden-md-down tdstyle" style="color: black;">
                                        Maintenance
                                    </div>

                                </a>
                            </div>
                            <div class="col-sm-4 col-md-3">

                                <a href="#">
                                    <div>
                                        
                                        <img src="~/images/shift-handover.png" alt="House Keeping" class="img-responsive" style="margin:0 auto; width:25px; height:25px">
                                    </div>
                                    <div class="tdstyle hidden-md-down" style="color:black;">
                                        Shift Handover
                                    </div>

                                </a>
                            </div>
                        </div>
             
            
         
                    </div>
                    

                </div>
                <div class="col-md-2 my-auto hidden-md-down">
                    <span class="labels " style="color:black">Workout of 23 Apr. 2021</span>
                </div>

                <div class="col-md-2 col-sm-2 my-auto">

                    <div id="navbarNavDropdown">
                        <ul class="navbar-nav">

                            <li class="nav-item dropdown  user-menu">
                                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span style="float: right;color: #999" class="hidden-md-down">Zahid Nazir</span>
                                    <img  style="float:right" src="~/images/man.jpg" class="user-image" alt="User Image">
                                </a>
                                <div  class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Profile</a>
                                    @Html.ActionLink("Log Out", "logout", "Home", null, htmlAttributes: new { @class = "dropdown-item" })
                                    @*<a class="dropdown-item">@Html.ActionLink("Log Out", "logout", "Home")</a>*@

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </header>


    <div id="leftslider" class="main">
        @*<aside>
                <div class="sidebar left fliph sidenav">
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="~/images/man.jpg" class="rounded-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p>Zahid Nazir</p>
                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <ul class="list-sidebar bg-defoult">


                        <li class="nav-li">
                            <a href="#" data-toggle="collapse" data-target="#dashboard" class="collapsed active"> <span class="nav-labelheading nav-bar-header"> Menu </span> </a>

                        </li>

                        <li> <a href="/Dashboard/Dashboard"><i class="fa fa-female"></i> <span class="nav-label">House keeping</span></a> </li>
                        <li> <a href="/Dashboard/Maintenance"><i class="fa fa-wrench"></i> <span class="nav-label">Maintenance</span></a> </li>

                        <li class="nav-li">
                            <a href="#" data-toggle="collapse" data-target="#dashboard" class="collapsed active"> <span class="nav-label nav-bar-header"> Users </span> </a>

                        </li>
                        <li> <a href="/Users/UserGrouplist"><i class="fa fa-users"></i> <span class="nav-label">User Groups</span></a> </li>
                        <li> <a href="/Users/UserManagement"><i class="fa fa-user"></i> <span class="nav-label">Users</span></a> </li>
                        <li> <a href="/Shift/Shiftlist"><i class="fa fa-shirtsinbulk"></i> <span class="nav-label">Shift</span></a> </li>

                        <li class="nav-li">
                            <a href="#" data-toggle="collapse" data-target="#dashboard" class="collapsed active"> <span class="nav-label nav-bar-header"> Room Status </span> </a>

                        </li>
                        <li> <a href="/Status/index/1"><i class="fa fa-bicycle"></i> <span class="nav-label">Room Status - House Keeping</span> </a></li>
                        <li> <a href="/Status/index/2"><i class="fa fa-gavel"></i> <span class="nav-label">Room Status - Maintenance</span></a> </li>
                        <li class="nav-li">
                            <a href="#" data-toggle="collapse" data-target="#dashboard" class="collapsed active"> <span class="nav-label nav-bar-header"> Building Management </span> </a>

                        </li>
                        <li> <a href="/Building/Index"><i class="fa fa-building"></i> <span class="nav-label">Buildings</span></a> </li>
                        <li> <a href="/Rooms/Roomslist"><i class="fa fa-building-o"></i> <span class="nav-label">Building rooms</span></a> </li>
                        <li class="nav-li">
                            <a href="/Handovernotes/Handoverlist" data-toggle="collapse" data-target="#dashboard" class="collapsed active"> <span class="nav-label nav-bar-header"> Handover Notes </span> </a>

                        </li>
                        <li> <a href="/Handovernotes/Handoverlist"><i class="fa fa-handshake-o"></i> <span class="nav-label">Handover Notes</span></a> </li>
                        <li class="nav-li">
                            <a href="#" data-toggle="collapse" data-target="#dashboard" class="collapsed active"> <span class="nav-label nav-bar-header"> Third party </span> </a>

                        </li>
                        <li> <a href="/TimeStation/GetTimeStation"><i class="fa fa-server"></i> <span class="nav-label">Timestation Management</span></a> </li>
                        <li class="nav-li">
                            <a href="#" data-toggle="collapse" data-target="#dashboard" class="collapsed active"> <span class="nav-label nav-bar-header"> Reports </span> </a>

                        </li>
                        <li> <a href="/LoginActivity/GetAtivitylist"><i class="fa fa-clock-o"></i> <span class="nav-label">Login Activity Log</span></a> </li>
                        <li> <a href="/LoginActivity/GetWhois"><i class="fa fa-eye"></i> <span class="nav-label">Who is online</span></a> </li>
                    </ul>
                </div>


            </aside>*@


    </div>



    <div class="container-fluid pl-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted d-none">
        <div class="container">
            &copy; 2021 - RoomCheckingSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/js/alertify.min.js"></script>
    @RenderSection("Scripts", required: false)
<script type="text/javascript">
    $(document).ready(function () {
         $("#leftslider").load('@Url.Content("~/Dashboard/LoadMenu")');
            //$("#leftslider").load('@Url.Content("/Dashboard/LoadMenu")');

            $('.button-left').click(function () {
                $('.sidebar').toggleClass('fliph');
                $("maindiv").css({
                    marginLeft: '200px',

                });


            });

        });
</script>
</body>
</html>
