@using RoomCheckingSystem.Models;
@model IEnumerable<sploadbuildings>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/accordin.css" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
<link href="~/css/dashboard.css" rel="stylesheet" />
<link href="~/css/maintenance.css" rel="stylesheet" />
<style>
    .text-red {
        color: #dd4b39 !important;
    }
    #full_screen_loader {
        z-index: 10001;
    }

    .layout {
    }

    .modal-header {
        background-color: #999;
        color: #FFF;
    }

    .cxm-modal {
        text-align: center;
        padding: 0 !important;
    }

    .cxm-clock-pad {
        padding-right: 65px;
    }

    .cxm-clock {
        position: absolute;
        bottom: -34px;
        right: -7px;
        padding: 15px;
        padding-top: 15px;
        padding-bottom: 24px;
        padding-right: 10px;
        display: inline-block;
        background-color: #EEE;
        text-align: center;
        color: #555;
    }

    .reveal-modal {
        position: fixed;
        margin: 0 auto;
    }

    .modal-lg {
        max-width: 45% !important;
    }

    .modal-header {
        padding: 12px;
    }

    h4, h4 {
        font-size: 16px;
        font-weight: bold;
    }

    .btn-danger:hover, .btn-danger:active, .btn-danger.hover {
        background-color: #d73925;
    }

    .btn-danger:hover {
        color: #fff;
        background-color: #c9302c;
        border-color: #ac2925;
    }

    .cxm-btn-1 {
        box-shadow: 0px 0px 0px 2px #Fff, 0px 0px 0px 4px rgba(0,0,0,0.2);
    }

    .text-green {
        color: #00a65a !important;
    }

    .alertify-notifier.ajs-center {
        left: 50%;
    }

    .alertify-notifier.ajs-top {
        top: 10px;
    }

    .ajs-top {
        top: 50% !important;
        transform: translate(-50%, -50%);
    }

    .cxm-room-bx-square {
        display: inline-block;
        padding: 5px 7px;
        width: 150px;
        height: 115px;
        font-size: 15px;
        margin: 0px 2px 6px 0px;
    }

    .cxm-room-bx {
        font-size: 18px;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
    }

    .cxm-no-gutters {
        margin-right: 0;
        margin-left: 0;
    }

    .cxm-col {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

    .small-box .icon {
        display: none;
    }

    .small-box .inner {
        padding: 5px 0;
    }

    .small-box {
        text-align: center;
    }

    .small-box {
        border-radius: 2px;
        position: relative;
        margin-bottom: 20px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    }

        .small-box .inner h3, .small-box .inner .make-text_bold {
            margin-bottom: 3px;
        }

        .small-box h3 {
            font-size: 19px;
        }

        small-box h3, .small-box p {
            z-index: 5px;
        }

        .small-box h3 {
            font-size: 16px;
            font-weight: bold;
            margin: 0 0 10px 0;
            margin-bottom: 10px;
            white-space: nowrap;
            padding: 0;
        }

    .validation-failed {
        border: 1px solid #eb340a !important;
        background-color: #faebe7 !important;
    }
</style>

<div id="maindiv" style="padding:15px;">


    <div class="row cxm-card-1 margin-bottom hidden-lg-down pt-2">
        <div class="col-sm-4 col-md-6" id="js-desktop_summary" style="padding-top: 23px;">
            <div class="cxm-bx-1 small-box bg-green" style="background-color:#eceef4 !important; color: #000 !important;">
                <div class="cxm-count-1">0</div>
                <div class="cxm-ttl-1">Total Jobs</div>
            </div><div class="cxm-bx-1 small-box bg-green" style="background-color:#008000  !important;">
                <div class="cxm-count-1">0</div>
                <div class="cxm-ttl-1">Completed Jobs</div>
            </div><div class="cxm-bx-1 small-box bg-green" style="background-color: #008000 !important;">
                <div class="cxm-count-1">0</div>
                <div class="cxm-ttl-1">Running Jobs</div>
            </div>
        </div>



        <input name="date_activity" id="date_activity" type="hidden" value="today">

        <div class="col-sm-8 col-md-6">
            <div class="row">

                <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2 offset-2">
                    <div class="bg-blue p-2 rounded mb-2">
                        <div class="row">
                            <div class="col-sm-9">
                                <span class="fa fa-calendar"></span> Today
                            </div>
                            <div class="col-sm-3">
                                <div class="xcheckbox text-right">
                                    <label class="margin-bottom-none" style="margin:0px;"><input class="js-cal_select_type" id="js-cal_select_type_today" checked="checked" value="today" type="radio" name="cal_select_type"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <select class="form-control mb-2" name="building" id="building">

                        <option value="">All Buildings</option>
                        <option value="10">81-83</option>
                        <option value="11">77-79</option>
                        <option value="12">55</option>
                        <option value="13">34</option>

                    </select>
                </div>
            </div>


            <div class="row">

                <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2 offset-2">
                    <div class="bg-blue p-2 rounded mb-2">
                        <div class="row">
                            <div class="col-sm-9">
                                <span class="fa fa-calendar"></span> Tomorrow
                            </div>
                            <div class="col-sm-3">
                                <div class="xcheckbox text-right">
                                    <label class="margin-bottom-none" style="margin:0px;"><input class="js-cal_select_type" id="js-cal_select_type_tomorrow" value="tomorrow" type="radio" name="cal_select_type"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" name="room_floor" id="room_floor">
                        <option value="">All Floors</option>

                        <option value="-1">Basement 01</option>

                        <option value="0">Ground Floor</option>

                        <option value="1">01st Floor</option>

                        <option value="2">02nd Floor</option>

                        <option value="3">03rd Floor</option>

                        <option value="4">04th Floor</option>

                        <option value="Basement">Basement</option>
                    </select>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2 col-lg-offset-2 offset-2">
                    <div class="bg-blue p-2 rounded mb-2">
                        <div class="row">
                            <div class="col-sm-9">

                                <div id="js-calander_custom_icon">
                                    <span class="fa fa-calendar"></span> Calendar
                                </div>

                                <div style="color:#000;display:none;" id="js-calander_custom_field">
                                    <input name="custom_date" class="form-control input-sm" id="custom_date" min="2020-04-01" max="2021-05-24" value="2021-04-24" type="date">
                                </div>


                            </div>
                            <div class="col-sm-3">
                                <div class="xcheckbox text-right">
                                    <label class="margin-bottom-none" style="margin:0px;"><input class="js-cal_select_type" id="js-cal_select_type_custom" value="custom" type="radio" name="cal_select_type"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" name="room_type" id="room_type">
                        <option value="">All Kinds of Rooms</option>
                        <option value="DBL">DBL</option>
                        <option value="DUP">DUP</option>
                        <option value="FAM">FAM</option>
                        <option value="LOB">LOB</option>
                        <option value="MOB">MOB</option>
                        <option value="SOB">SOB</option>
                        <option value="TBA">TBA</option>
                        <option value="TRP">TRP</option>
                    </select>
                </div>

            </div>

        </div>

    </div>

    <div class="hidden-md-up">
        <div id="js-summary_boxes">
            <div class="cxm-row">
                <div class="cxm-col">
                    <div class="cxm-bx small-box bg-green only_mobile_shadow" style="background-color:#eceef4 !important; color: #000 !important;">

                        <div class="inner">
                            <h3>1</h3>
                            <p class="make-text_bold">Total Jobs</p>
                        </div>

                        <div class="icon"><i class="fa fa-suitcase"></i></div>
                    </div>
                </div>

                <div class="cxm-col">
                    <div class="cxm-bx small-box bg-green only_mobile_shadow" style="background-color:#eceef4 !important; color: #000 !important;">

                        <div class="inner">
                            <h3>0</h3>
                            <p class="make-text_bold">Completed Jobs</p>
                        </div>

                        <div class="icon"><i class="fa fa-suitcase"></i></div>
                    </div>
                </div>

                <div class="cxm-col">
                    <div class="cxm-bx small-box bg-green only_mobile_shadow" style="background-color:#eceef4 !important; color: #000 !important;">

                        <div class="inner">
                            <h3>1</h3>
                            <p class="make-text_bold">Running Jobs</p>
                        </div>

                        <div class="icon"><i class="fa fa-suitcase"></i></div>
                    </div>
                </div>
            </div>
            <div class="cxm-row"></div>
        </div>
    </div>

    <link href="~/css/loader.css" rel="stylesheet" />
    <div class="loading" id="full_screen_loader" style="display: none;">Loading…</div>
    <div class="row">
        <div class="col-sm-12">
            <div role="dialog" class="modal fade in reveal-modal" tabindex="-1" id="loginModal"
                 data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-dialog-scrollable modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="h4"> </h4>
                            <button type="button" class="close" data-dismiss="modal">
                                ×
                            </button>

                        </div>

                        <div class="modal-body" id="dialogbody">




                        </div>

                        <div class="modal-footer">
                            <div class="row m-auto w-100">

                                <div class="col-lg-3 col-md-2 text-left cxm-mb-3">
                                    <button type="button" id="btnsave" onclick="savestatus();" class="btn btn-success btn-block cxm-btn-1">Save</button>
                                </div>
                                <div class="col-lg-6 cxm-mb-3 text-left">
                                    <button type="button" id="js-maintenance_addtask_btn" class="btn btn-link btn-block text-black no-padding text-sm" style="display:flex; align-items:center; "><span class="fa fa-plus-circle text-green" style="font-size:28px; margin-right:3px; text-decoration:none;"></span> Add Task</button>

                                </div>
                                <div class="col-sm-3 cxm-mb-3 ">
                                    <button type="button" class="btn btn-danger btn-block cxm-btn-1" data-dismiss="modal">Close</button>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
    <div id="dashboardview">
        @*<div class="row" style="margin-top:15px;">
            <div class="col-sm-12">
                <input type="hidden" id="hbuildingid">
                <input type="hidden" id="hroomid">
                @foreach (sploadbuildings mbuilding in Model)
                {
                    <button class="accordion">@mbuilding.BuildingName </button>
                    <div class="panel">
                        <div class="subpanel">
                            @foreach (sploadrooms mrooms in mbuilding.listofRooms)
                            {
                                var color = "";
                                var icon = "";
                                var statusname = "";
                                var clearningtime = "";
                                var pStatus = -1;
                                var cStatus = -1;
                                var statusid = -1;
                                if (mrooms.listofRooms.Count() > 0)
                                {
                                    color = mrooms.listofRooms.ElementAt(mrooms.listofRooms.Count() - 1).StatusColor;
                                    icon = mrooms.listofRooms.ElementAt(mrooms.listofRooms.Count() - 1).icon;
                                    statusname = mrooms.listofRooms.ElementAt(mrooms.listofRooms.Count() - 1).StatusName;
                                    statusid = mrooms.listofRooms.ElementAt(mrooms.listofRooms.Count() - 1).statusid;

                                    if (mrooms.listofRooms.ElementAt(mrooms.listofRooms.Count() - 1).Cleaningtime != "-1")
                                    {
                                        clearningtime = Convert.ToDateTime(mrooms.listofRooms.ElementAt(mrooms.listofRooms.Count() - 1).Cleaningtime).ToString("hh:mm");
                                    }


                                    pStatus = mrooms.listofRooms.ElementAt(mrooms.listofRooms.Count() - 1).pStatus;
                                    cStatus = mrooms.listofRooms.ElementAt(mrooms.listofRooms.Count() - 1).cStatus;


                                }
                                else
                                {
                                    color = "#bababa";
                                    icon = "fa fa-home";
                                    statusname = "";
                                    clearningtime = "";
                                    pStatus = -1;
                                    cStatus = -1;
                                    statusid = -1;


                                }




                                <div class="cxm-room-bx-square js-room_div bg-green hidden-lg-down" oncontextmenu="on_room_contextmenu(this,event);return false;" onclick="show_status_in_model('@mbuilding.BuildingName', '@mbuilding.BuildingID', '@mrooms.RoomName', '@mrooms.RoomID',@pStatus,@cStatus,@statusid);" js-data="{&quot;model_title&quot;:&quot;81-83&amp;nbsp;&amp;nbsp;&amp;gt;&amp;gt;&amp;nbsp;&amp;nbsp;1A&quot;,&quot;room_id&quot;:&quot;c2f0e190b9bcb3c92d02f4968994d71c&quot;,&quot;building_id&quot;:&quot;96cfbc9de3f0ca3f93c8c13abc420ccd&quot;,&quot;current_status_id&quot;:null}" title="Change Status" style="cursor: pointer; background-color: @color !important;">

                                    <div class="row cxm-no-gutters">
                                        <div class="col-sm-4 col-md-12 col-lg-12">
                                            <div class="cxm-room-count-1">
                                                @mrooms.RoomName
                                            </div>
                                        </div>


                                        <div class="col-sm-8 col-md-12 col-lg-12 cxm-text-align">
                                            <div class="cxm-room-icon hidden-sm hidden-sm text-center" style="padding-top: 13px;">
                                                <span class="@icon dashboardiconsize"></span>
                                            </div>
                                            <div class="hidden-sm cxm-room-label text-center" style="line-height: 16px;">
                                                @statusname&nbsp;&nbsp;
                                                <span class="fa fa-refresh cxm-room-icon-2 hidden-md-up"></span>
                                            </div>
                                            @{
                                                if (clearningtime.Length > 0)
                                                {
                                                    <div class="row cxm-no-gutters d-none">
                                                        <div class="col-sm-6" style="font-weight: bold;">@clearningtime</div>
                                                        <div class="col-sm-6 text-right">
                                                            <img src="https://www.hydeparkaparts.com/dev.roomchecking.hydeparkaparts.com/assets/admin/ssaq-data/media/cxm-icon-clock-4.png" alt="Clock" width="22">
                                                        </div>
                                                    </div>
                                                }

                                            }


                                        </div>
                                    </div>

                                </div>

                                <div class="cxm-room-bx cxm-bg-teal js-div_foucs_main fc1 hidden-md-up d-md-block" onclick="show_status_in_model(this, true);" js-data="{&quot;model_title&quot;:&quot;81-83&amp;nbsp;&amp;nbsp;&amp;gt;&amp;gt;&amp;nbsp;&amp;nbsp;1A&quot;,&quot;room_id&quot;:&quot;c2f0e190b9bcb3c92d02f4968994d71c&quot;,&quot;building_id&quot;:&quot;96cfbc9de3f0ca3f93c8c13abc420ccd&quot;,&quot;current_status_id&quot;:null}" title="Change Status" style="cursor:pointer;background-color:#bababa !important;">

                                    <div class="row cxm-no-gutters">
                                        <div class="col-3">
                                            <div class="cxm-p-1 text-bold cxm-mob_roomname" style="border-left:2px #FFF solid;">


                                                1A
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="cxm-p-1 text-bold js-div_foucs_label">&nbsp;</div>
                                        </div>
                                        <div class="col-3">
                                            <div class="text-right cxm-p-1 cxm-mob_icon_change">

                                                <span class="js-div_foucs_icon_mob">
                                                    <img class="js-maintenance_icon" src="https://www.hydeparkaparts.com/dev.roomchecking.hydeparkaparts.com/assets/admin/ssaq-data/media/cxm-icon-tool.png" alt="Tool" width="25">
                                                </span>

                                                <span class="js-div_foucs_priority_mob">
                                                </span>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            }
                        </div>


                    </div>

                }


            </div>
        </div>*@
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>


<script type="text/javascript">
    var Parentstatus = -1;
    var ChildStatus = -1;
    var cstatusid = -1;
    var pgroupid = -1;
    var date;
    var rows = 0;
    var editemplate = "";

    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;

            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
                panel.classList.add("panelhide");


            } else {

                panel.classList.add("panel");
                panel.style.maxHeight = panel.scrollHeight + "px";


            }
        });



    }

    function loadgrid() {

        $.ajax({
            url: '/Dashboard/Maintenancedata',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('#full_screen_loader').hide();
                $('#dashboardview').empty();
                $('#dashboardview').html(result);
                //openalltabs();

            },
            error: function (xhr, status) {
                $('#full_screen_loader').hide();

                alert(status);
            },
            complete: function () { }

        });
    }

    function editcontrols() {
        
        var templete = editemplate;
        if (rows > 1) { 
        for (i = 1; i < rows; i++) {
            $("#divdynamic").append("<div id='contentdiv_" + (i + 1) + "'  class='layout'>" + templete + "</div>");
            setcontrolid((i + 1));
            if ($(".js-maintenance_combo_remove_task").length > 1) {
                $(".js-maintenance_combo_remove_task").show();
            }
        }
    }


    }

    function createcontrols() {
        var templete = $("#contentdiv_1").html();
        var divno = $(".layout");
        var nodiv = divno.length;
        nodiv = nodiv + 1;

        $("#divdynamic").append("<div id='contentdiv_" + nodiv + "'  class='layout'>" + templete + "</div>");
        setcontrolid(nodiv);
        if ($(".js-maintenance_combo_remove_task").length > 1) {
            $(".js-maintenance_combo_remove_task").show();
        }

    }
    $(document).ready(function () {       //Error happens here, $ is not defined.
        alertify.set('notifier', 'position', 'top-center');
        //$("#dashboardview").load('@Url.Content("/Dashboard/Maintenancedata")');

        loadgrid();

        
        //$("#btnShowModal").click(function () {
        //    $("#loginModal").modal('show');
        //});

        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });


        $("#js-maintenance_addtask_btn").click(function () {
            //alertify.notify('Working please wait...');
            //alertify.success("helow")
            //alertify.notify('<span class="fa fa-check" style="font-size:24px;"></span><br>' + " Good job! Your status has been saved", 'success', 3);
            createcontrols();
            

        });

    });


    function setcontroldata(id) {
        var index = 0;
        $("#contentdiv_" + id).find('select, textarea,span')
            .each(function () {

                if (index == 0) {
                    $(this).attr('id', 'ParendStatus_' + id)
                } else if (index == 2) {
                    $(this).attr('id', 'ChildStatus_' + id)

                }
                else if (index == 3) {
                    $(this).attr('id', 'btndelete_' + id)

                }
                else if (index == 5) {
                    $(this).attr('id', 'texdes_' + id)
                }

                index++;

            });




    }


    function setcontrolid(id) {
        var index = 0;
        $("#contentdiv_" + id).find('select, textarea,span')
            .each(function () {

                if (index == 0) {
                    $(this).attr('id', 'ParendStatus_' + id)
                } else if (index == 2) {
                    $(this).attr('id', 'ChildStatus_' + id)

                }
                else if (index == 3) {
                    $(this).attr('id', 'btndelete_' + id)

                }
                 else if (index == 5) {
                    $(this).attr('id', 'texdes_' + id)
                }

                index++;

            });




    }


    var AddRooms = function () {
        $("#roomModalBody").load("/Home/CreateRoom", function () {
            $("#create-room").modal("show");
        })
    }


    function show_status_in_model(buildingname, buildingid, mrooms, roomid, ps, cs, id, groupid,dt,count) {
        
        $('#full_screen_loader').show();
        document.getElementById('hbuildingid').value = buildingid;
        document.getElementById('hroomid').value = roomid;
        Parentstatus = ps;
        ChildStatus = cs;
        cstatusid = id;
        pgroupid = groupid;
        date = dt;
        rows = count;

        $.ajax({
            url: '/Dashboard/CreateMaintenancedialog',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('#full_screen_loader').hide();
                $('#dialogbody').html(result);

                editemplate = result;
                document.getElementById('h4').innerHTML = buildingname + " >> " + mrooms;
                $('#ParendStatus_1 option[value=' + ps + ']').attr('selected', 'selected');
                $('#ChildStatus_1 option[value=' + cs + ']').attr('selected', 'selected');

                var message = document.getElementById('hiv_' + roomid).value;
                alert(message);
                $("#loginModal").modal('show');               
                    editcontrols();
                
            },
            error: function (xhr, status) {
                $('#full_screen_loader').hide();

                alert(status);
            },
            complete: function () { }

        });
        //.done()(function (result) {
        //    alert(result);
        //    $('#dialogbody').html(result);
        //    $("#loginModal").modal('show');
        //})
        //    .fail()(function (xhr, status) {
        //    alert(status);
        //})


        //$("#dialogbody").load("/Dashboard/Createdialog", function () {
        //    $("#loginModal").modal('show');
        //})


    }


    // custom function open the tabs
    function openalltabs() {
        
        var acc = document.getElementsByClassName("accordion");

        var i;
        for (i = 0; i < acc.length; i++) {
            acc[i].classList.toggle("active");
            var panel = acc[i].nextElementSibling;
            panel.classList.add("panel");
            panel.style.maxHeight = panel.scrollHeight + "px";
        }

    }
    function savestatus() {

       // $('.comments').removeClass("validation-failed");
        var div = $(".layout");
        var list = [];
        
        for (i = 0; i < div.length; i++) {
            statussave = {
                intParentStatus: -1,
                intChildStatus: 0,
                Description: "",
                intBuildingID: document.getElementById('hbuildingid').value,
                intRoomID : document.getElementById('hroomid').value,
                intStatusID: "-1",
                isGroupID: pgroupid,
               
                


            };
            var id = $(div[i]).attr("id").split("_");
            statussave.intParentStatus = $("#ParendStatus_" + id[1]).val();
            if ($("#ParendStatus_" + id[1]).val() != -1) {
                statussave.intStatusID = $("#ParendStatus_" + id[1]).val();
            }
            statussave.intChildStatus = $("#ChildStatus_" + id[1]).val();
            if ($("#texdes_" + id[1]).val().length > 0) {
                statussave.Description = $("#texdes_" + id[1]).val();
            }
            else {

                $("#texdes_" + id[1]).addClass("validation-failed");
                return;
            }

            list.push(statussave);
        }

        

        $.ajax({
            url: '/Dashboard/SaveSelectedMaintenanceStatus',
            type: 'POST',
            data: { 'statusDetails': JSON.stringify(list), 'statusid': cstatusid, 'dt': date },
            dataType: 'json',

            success: function (d) {
                $("#loginModal").modal('hide');
                alertify.notify('<span class="fa fa-check" style="font-size:24px;"></span><br>' + " Good job! Your status has been saved", 'success', 3);
                loadgrid();

            },
            error: function (r) {

                alert(r);
            }
        });

    }



</script>
